# Virtual environments
myEnv/
myEnv311/

# Embeddings data
embeddings/

# Data files
doc_ids.json
specter2_papers.json
specter2_embeddings.npy

# Generated embedding files
utils/projector/vectors.tsv
utils/projector/metadata.tsv

utils/projector_specter2/vectors.tsv
utils/projector_specter2/metadata.tsv
