# Virtual environments
myEnv/
myEnv311/

# Embeddings data
embeddings/

# Data files
doc_ids.json
specter2_papers.json
specter2_embeddings.npy

# Generated embedding files
utils/projector/vectors.tsv
utils/projector/metadata.tsv

utils/projector_specter2/vectors.tsv
utils/projector_specter2/metadata.tsv

# Node modules and lock files
semantic-search-app/backend/node_modules/
semantic-search-app/backend/package-lock.json
semantic-search-app/backend/.env

dump.sql
db.md

test