services:
  db:
    restart: always
    build: .
    container_name: scientilla_ai-db
    shm_size: 1g
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=postgres
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks: [default]

  embedding-service:
    restart: always
    build: ./embedding-service
    environment:
      - MODEL_NAME=allenai/specter2_base
      - ADAPTER_NAME=allenai/specter2_adhoc_query
    volumes:
      - hf-cache:/root/.cache/huggingface
    networks: [default]

  node-app:
    restart: always
    build: ./semantic-search-app/backend
    environment:
      - PORT=3000
      - EMBED_URL=http://embedding-service:8000
      - DB_URL=postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/postgres
    depends_on:
      - db
      - embedding-service
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.scientilla-backend.rule=Host(`search-scientilla.iit.test`) && PathPrefix(`/api`)"
      - "traefik.http.routers.scientilla-backend.entrypoints=websecure"
      - "traefik.http.routers.scientilla-backend.tls=true"
      - "traefik.http.services.scientilla-backend.loadbalancer.server.port=3000"

  nginx:
    restart: always
    build:
      context: .
      dockerfile: ./static-server/Dockerfile
    container_name: scientilla_ai-nginx
    depends_on:
      - node-app
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.scientilla-frontend.rule=Host(`search-scientilla.iit.test`)"
      - "traefik.http.routers.scientilla-frontend.entrypoints=websecure"
      - "traefik.http.routers.scientilla-frontend.tls=true"
      - "traefik.http.services.scientilla-frontend.loadbalancer.server.port=80"

networks:
  traefik:
    external: true

volumes:
  pgdata:
  hf-cache: